@model Tuple<ICollection<RecipeHomeModel>, ICollection<TipHomeModel>>
@{

}

<div class="text-center image-container">
    <img src="~/img/background_index.png" alt="background" style="width: 100%; filter: brightness(30%);" />
    <div class="overlay-text w-75">
        <h1 class="display-4" style="font-size: 3rem; font-weight:bold">Добре дощли в CatCook!</h1>
        <p style="font-size: 2rem;">Това е един от най-забавните сайтове за готвене, който предлага:</p>
        <ul>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Качване на рецепти и споделяне с приятели!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Питане на въпроси и отговори от хора по цял свят!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Супер много съвети от различни готвачи!</li>
            <li style="font-size: 1.5rem; margin-bottom: 10px;"><i class="fa-solid fa-check text-primary"></i> Чат с други хора!</li>
        </ul>
    </div>
</div>
<hr />
<h2 style="font-size: 3rem; font-weight:bold; margin: 2rem 0rem;">Най-новите рецепти:</h2>
<div class="card-deck row">
    <partial name="_RecipeCardPartial" model="@Model.Item1" />
</div>
<h2 style="font-size: 3rem; font-weight:bold; margin: 2rem 0rem;">Най-новите съвети:</h2>
<div class="card-deck row justify-content-between" style="gap: 30px;">
    <partial name="_TipCardPartial" model="@Model.Item2" />   
</div>