@{
    ViewBag.Title = "Възникна грешка";
}

<div class="row">
    <h1 style="margin-top:15rem;"><b class="text-primary">Имаме проблем</b>/h1>


    <p>За съжаление, имаше грешка в изпълнението на текущата заувка.</p>
</div>