@model ForumModel

<div class="container">
    @{
        ViewBag.Title = "Редактирай Форум";
    }

    <partial name="_ForumFormPartial" model="@Model" />

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
