@model AccountDetailsModel

@{
    ViewBag.Title = "Всички Рецепти";
}

<div class="row" style="gap: 1rem;">
    <partial name="_AccountPartial" model="@Model" />
    <div class="card-deck row col-10" style="gap:32px;">
        <h1 class="text-center" style="margin-top: 10rem ;">@ViewBag.Title</h1>

        @if (!Model.Recipes.Any())
        {
            <h3 style="margin: 0 auto;">Този потребител няма рецепти!</h3>
        }
        @foreach (var recipe in Model.Recipes)
        {
            <div class="card col-4" style="max-width: 285px;">
                <partial name="_RecipeCardPartial" model="recipe" />
            </div>
        }
    </div>
</div>