@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" style="background-color: black;" class="form-control" placeholder="Въведете имейл." disabled />
                <label asp-for="Username" class="form-label">Имейл</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="първо име" />
                <label asp-for="Input.FirstName">Първо име</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="фамилно име" />
                <label asp-for="Input.LastName">Фамилно име</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ProfileName" class="form-control" autocomplete="username" aria-required="true" placeholder="профилно име" />
                <label asp-for="Input.ProfileName">Име на профил</label>
                <span asp-validation-for="Input.ProfileName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" autocomplete="username" aria-required="true" placeholder="име на град" />
                <label asp-for="Input.City">Име на град /незадължително/</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Status" class="form-control" autocomplete="username" aria-required="true" placeholder="статус" />
                <label asp-for="Input.Status">Статус /незадължително/</label>
                <span asp-validation-for="Input.Status" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.AvatarImageUrl" class="form-control" autocomplete="username" aria-required="true" placeholder="линк на снимката" />
                <label asp-for="Input.AvatarImageUrl">Линк към снимка на аватар /незадължително/</label>
                <span asp-validation-for="Input.AvatarImageUrl" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
