@model IEnumerable<RecipeHomeModel>

@{
    ViewBag.Title = "Всички Рецепти";
}

<div class="card-deck row">
    <h1 class="text-center" style="margin-top: 10rem ; margin-bottom: 3rem;">Всички Рецепти</h1>

    <partial name="_RecipeCardPartial" model="@Model" />
</div>