@model RecipeDetailsModel
@{
    ViewBag.Title = "Изтрий Рецепта";
}
<div class="row align-content-center">
    <h2 class="text-center" style="margin-top: 10rem;  margin-bottom: 2rem;">@ViewBag.Title</h2>
<hr />

<form asp-action="Delete">
    <div class="card" style="width: 18rem; margin: 0 auto;">
        <div class="card-body">
            <p class="card-text">Сигурни ли сте, че искате да изтриете рецептата <b>@Model.Name</b>?</p>
            <div class="form-group">
                 <input type="submit" value="Изтрий" class="btn btn-danger" />
                    <a class="btn btn-secondary" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id">Отказ</a>
            </div>
        </div>
    </div>

</form>
</div>