@model ForumModel

<div class="row">
    <h1 class="text-center" style="margin-top: 10rem;">@ViewBag.Title</h1>
    <hr />
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.UserId" />
            <div class="form-group" style="margin-bottom: 1rem;">
                <label asp-for="Title">Заглавие</label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие на форума...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text">Описание</label>
                <textarea rows="9" asp-for="Text" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Text" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    </div>
</div>