@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Достъп забранен";
}

<header>
    <div class="row">
        <h1 style="margin-top:15rem; font-weight: bold;" class="text-danger">@ViewData["Title"]</h1>
        <p style="font-size: 2.5rem;">Нямате достъп до този ресурс.</p>
    </div>
</header>
